.side-img{
    aspect-ratio: 1 / 2;
    background-image: url('../../public/assests/placeholders/money-stock-1-rotated.jpg');
    background-position: center;
}

#login-form-wrapper{
    width:100%;
}