#login-page-wrapper{
    justify-content: center;
    align-items: center;
}
.side-img{
    width: 80%;
    height: 100%;
    background-image: url('../../public/assests/stock-images/mm-stock-1.jpg');
    background-size: cover;
    background-position: center;
}

#login-form-wrapper{
    width:100%;
}